<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xmlns:security="http://www.springframework.org/schema/security" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:task="http://www.springframework.org/schema/task" 
	xsi:schemaLocation="
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		http://www.springframework.org/schema/security 
		http://www.springframework.org/schema/security/spring-security-3.2.xsd
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/data/jpa 
		http://www.springframework.org/schema/data/jpa/spring-jpa-1.3.xsd
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.0.xsd">
		
	<!-- Activates annotation-based bean configuration -->
	<context:annotation-config />
	
	<!-- Scans for application @Components to deploy -->
	<context:component-scan base-package="com.tengfei.payment" >
	</context:component-scan>

	<!--读取自定义配置文件  -->
	<util:properties id="settings" location="classpath:public.properties"></util:properties>
	
	
	<!--加载每日定时任务 -->
	<task:scheduled-tasks>   
        <task:scheduled ref="proxyTimeTask" method="jobDailySummary"  cron="0 01 0 * * ?"/>   
	</task:scheduled-tasks>  


	<!-- 使用JDBC事物 -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="smsConfig" class="com.tengfei.payment.sms.SMSConfig">
		<property name="appId" value="8fa3abc99a1f4509a5667655543f4a7c"/>
		<property name="codeTemplateId" value="62371"/>
		<property name="notifyTemplateId" value="62370"/>
	</bean>
	
	<bean id="springUtils" class="com.tengfei.payment.util.SpringUtils" />

	<!-- AOP配置事物 -->
<!-- 	<tx:advice id="transactionAdvice" transaction-manager="transactionManager"> -->
<!-- 		<tx:attributes> -->
<!-- 			<tx:method name="delete*" propagation="REQUIRED" /> -->
<!-- 			<tx:method name="update*" propagation="REQUIRED" /> -->
<!-- 			<tx:method name="insert*" propagation="REQUIRED" /> -->
<!-- 			<tx:method name="*" propagation="NEVER" /> -->
<!-- 		</tx:attributes> -->
<!-- 	</tx:advice> -->

	<!-- 配置AOP切面 -->
<!-- 	<aop:config> -->
<!-- 		<aop:pointcut id="transactionPointcut" expression="execution(* com.tengfei.payment.service..*.*(..))" /> -->
<!-- 		<aop:advisor pointcut-ref="transactionPointcut" advice-ref="transactionAdvice" /> -->
<!-- 	</aop:config> -->
	
	<!-- 使用annotation注解方式配置事务 -->
	<tx:annotation-driven transaction-manager="transactionManager" />
</beans>